#input-form{
  background: pink;
  text-align: center;
  padding: 3px;
  border-radius: 25px;
  box-shadow: 0px 4px 8px 0 ;
}
#card{
  background: lightpink;
  margin-bottom: 5%;
  border-radius: 25px;
  padding: 2%;
  overflow: auto;
  resize: both;
  text-overflow: ellipsis;

}